.caption h2 {
  font-size: 15vh;
}

.caption p {
  font-size: 3vh;
}

.caption .platforms img{
  height: 13vh;
}
.tnw img{
  height: 10vh;
}
.tnw{
  background-color: #2937f0;
}
.tnw h2{
  color: #fff;
}
.social .icon h3{
  font-size: 2vh;
}
.social img{
  height:50%;
} 
.design img{
  border-radius: 50%;
}
.design{
  background-color: aliceblue;
}
  